/* General Reset and Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  overscroll-behavior: contain;
}

html {
  direction: ltr;
  /* scroll-behavior: smooth; */
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: rgb(226, 225, 225);
}

::-webkit-scrollbar-thumb {
  background: #6618ed;
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

header,
footer,
section {
  position: relative;
  isolation: isolate;
}

select {
  appearance: none;
  background-color: transparent;
}

img,
svg {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  user-select: none;
  -webkit-user-drag: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.container {
  padding: 30px 15px;
  margin: auto;
  height: 100%;
}
.fullScreen {
  min-height: 100vh;
  min-height: 100dvh;
}
/* ======CONTAINER MEDIA============= */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 97%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1340px;
  }
}
